<!DOCTYPE html>
<html lang="en">
{% include _browser-upgrade.html %}
{% include _navigation.html %}
<head>
    {% include _head.html %}
    <style>
 body {
        background-color: #f4f8fc;
        color: #333;
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        border-radius: 5px;
    }

    header {
        text-align: center;
        margin-bottom: 20px;
    }

    header h1 {
        color: #4285f4;
        font-size: 2em;
    }

    article {
        margin-bottom: 30px;
    }

    article h1 {
        color: #120000;
        font-size: 2em;
        margin-bottom: 20px;
    }

    article p {
        margin-bottom: 15px;
    }

    .biblist {
        list-style: none;
        padding: 0;
    }

    .image-wrap {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .image-wrap img {
        width: 100%;
        border-radius: 5px;
    }

    .authorme {
        font-weight: bold;
    }

    .bibtex {
        border: 1px solid #ddd;
        padding: 15px;
        margin-top: 10px;
        background-color: #f5f5f5;
        overflow: auto;
        font-size: 0.9em;
        display: none;
    }

    footer {
        text-align: center;
        margin-top: 30px;
        padding: 20px 0;
    }
         
	    
	.bibtex {
            display: none;
        }
    </style>
<script type="text/javascript">
        function toggleBibtex(articleid) {
            var bib = document.getElementById('bib_' + articleid);
            if (bib) {
                if (bib.className.indexOf('bibtex') != -1) {
                    bib.style.display = (bib.style.display === 'none' || bib.style.display === '') ? 'block' : 'none';
                }
            } else {
                return;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        <article>
            {{ content }}
        </article>

        <h1> Journals 📖</h1>
        <ul class="biblist">
	<li >
	<span class="authorme">A. Agiollo, A. Rafanelli, M. Magnini</span>, G. Ciatto, and A. Omicini, <br>
	&ldquo;<b><em>Symbolic knowledge injection meets intelligent agents: QoS metrics and experiments</em></b>&rdquo;, <br>
	<i>Autonomous Agents and Multi-Agent Systems</i>, 2023.
	<br>
	<a href="https://link.springer.com/article/10.1007/s10458-023-09609-6">[LINK]</a>
	<a href="javascript:toggleBibtex('JAAMAS23')">[BibTeX]</a>
	<div id="bib_JAAMAS23" class="bibtex noshow">
	<pre>
	﻿@article{skiqosMAS-JAAMAS,
	author={Agiollo, Andrea
	and Rafanelli, Andrea
	and Magnini, Matteo
	and Ciatto, Giovanni
	and Omicini, Andrea},
	title={Symbolic knowledge injection meets intelligent agents: QoS metrics and experiments},
	journal={Autonomous Agents and Multi-Agent Systems},
	year={2023},
	month={Jun},
	day={23},
	volume={37},
	number={2},
	pages={27},
	issn={1573-7454},
	doi={10.1007/s10458-023-09609-6},
	url={https://doi.org/10.1007/s10458-023-09609-6}
	}

	</pre>
	</div>
	</li>
	<br>
		<!-- Item: rafanelliIA23 -->
	<li >
	<span class="authorme">G. De Gasperis, S. Costantini, A. Rafanelli</span>, P. Migliarini, I. Letteri, and A.Dyoub, <br>
	&ldquo;<b><em>Extension of constraint-procedural logic-generated environments for deep Q-learning agent training and benchmarking</em></b>&rdquo;, <br>
	<i>Journal of Logic and Computation</i>, 2023.
	<br>
	<a href="https://academic.oup.com/logcom/advance-article/doi/10.1093/logcom/exad032/7190756?login=true">[LINK]</a>
	<a href="javascript:toggleBibtex('JLC23')">[BibTeX]</a>
	<div id="bib_JLC23" class="bibtex noshow">
	<pre>
	@article{DGCR23,
	    author = {De Gasperis, Giovanni and Costantini, Stefania and Rafanelli, Andrea and Migliarini, Patrizio and Letteri, Ivan and Dyoub, Abeer},
	    title = "{Extension of constraint-procedural logic-generated environments for deep Q-learning agent training and benchmarking}",
	    journal = {Journal of Logic and Computation},
	    year = {2023},
	    month = {06},
	    issn = {0955-792X},
	    doi = {10.1093/logcom/exad032},
	    url = {https://doi.org/10.1093/logcom/exad032},
	    note = {exad032},
	    eprint = {https://academic.oup.com/logcom/advance-article-pdf/doi/10.1093/logcom/exad032/50530031/exad032.pdf},
}

	
	</pre>
	</div>
	</li>
	<br>
	
	<!-- Item: rafanelliAI23 -->
	<li >
	<span class="authorme">A. Rafanelli</span>, S.Costantini and G. De Gasperis, <br>
	&ldquo;<b><em>Neural-logic Multi-agent System for Flood Event Detection</em></b>&rdquo;, <br>
	<i>Intelligenza Artificale</i>, 2023.
	<br>
	<a href="https://content.iospress.com/articles/intelligenza-artificiale/ia230004">[LINK]</a>
	<a href="javascript:toggleBibtex('rafanelliIA23')">[BibTeX]</a>
	<div id="bib_rafanelliIA23" class="bibtex noshow">
	<pre>
	@article{10.3233/IA-230004,
	    author = {Rafanelli, Andrea and Costantini, Stefania and De Gasperis, Giovanni},
	    title = "{Neural-logic Multi-agent System for Flood Event Detection}",
	    booktitle = {Intelligenza Artificiale},
	    publisher = {IOS Press},
	    year = {2023},
	    vol = {17},
	    pages = {19-35}
	    issn = {2211-0097},
	    doi = {10.3233/IA-230004},
	    url = {https://doi.org/10.3233/IA-230004},
}	

	</li>
	<br>
	    </ul>
	    <h1> Conferences 📚</h1>
	    <br>
<ul class="biblist" style="margin-top:-2px;">
	<!-- Item: rafanelliDC -->
	<li >
	<span class="authorme">A. Rafanelli</span>, <br>
	&ldquo;<b><em>Beyond Traditional Neural Networks: Toward adding Reasoning and Learning
	                  Capabilities through Computational Logic Techniques</em></b>&rdquo;, <br>
	<i>39th International Conference on Logic Programming, ICLP
	                  2023</i>, 2022.
	<br>
	<a href="https://arxiv.org/pdf/2308.15899.pdf">[LINK]</a>
	<a href="javascript:toggleBibtex('RafanelliDC23')">[BibTeX]</a>
	<div id="bib_rafanelliDC" class="bibtex noshow">
	<pre>
	

	@inproceedings{RafanelliDC23,
	  author       = {Andrea Rafanelli},
	  editor       = {Enrico Pontelli and
	                  Stefania Costantini and
	                  Carmine Dodaro and
	                  Sarah Alice Gaggl and
	                  Roberta Calegari and
	                  Artur S. d'Avila Garcez and
	                  Francesco Fabiano and
	                  Alessandra Mileo and
	                  Alessandra Russo and
	                  Francesca Toni},
	  title        = {Beyond Traditional Neural Networks: Toward adding Reasoning and Learning
	                  Capabilities through Computational Logic Techniques},
	  booktitle    = {Proceedings 39th International Conference on Logic Programming, {ICLP}
	                  2023, Imperial College London, UK, 9th July 2023 - 15th July 2023},
	  series       = {{EPTCS}},
	  volume       = {385},
	  pages        = {416--422},
	  year         = {2023},
	  url          = {https://doi.org/10.4204/EPTCS.385.51},
	  doi          = {10.4204/EPTCS.385.51},
	  timestamp    = {Wed, 25 Oct 2023 16:09:20 +0200},
	  biburl       = {https://dblp.org/rec/journals/corr/abs-2308-15899.bib},
	  bibsource    = {dblp computer science bibliography, https://dblp.org}
	}

	</pre>
	</div>
	</li>
	<br>
	<!-- Item: rafanelliAixia22 -->
	<li >
	<span class="authorme">A. Rafanelli</span>, S.Costantini and A. Omicini, <br>
	&ldquo;<b><em>Position paper: On the role of abductive reasoning in semantic image segmentation</em></b>&rdquo;, <br>
	<i>21st International Conference of the Italian Association for Artificial Intelligence (AIxIA 2022) </i>, 2022.
	<br>
	<a href="javascript:toggleBibtex('rafanelliAixia22')">[BibTeX]</a>

	<a href="/publications/2022/aixia22.pdf">[PDF]</a>

        <a href="/publications/2022/aixia22Slides.pdf">[SLIDES]</a>

	<div id="bib_rafanelliAixia22" class="bibtex noshow">
	<pre>
	@article{RCO23,
	author = {Rafanelli, Andrea and Costantini, Stefania and Omicini, Andrea},
	booktitle = {21st International Conference of the Italian Association for Artificial Intelligence (AIxIA 2022) },
	publisher = {Sun SITE Central Europe, RWTH Aachen University},
	series = {CEUR Workshop Proceedings},
	subseries = {AIxIA Series},
	title = {Position paper: On the role of abductive reasoning in semantic image segmentation},
	} 	
	</li>
	<br>
	    </ul>
	    <h1> Workshops ✍🏻</h1>
	    <br>
<ul class="biblist" style="margin-top:-2px;">
	<!-- Item: rafanelliWOA22 -->
	<li >
	<span class="authorme">A. Agiollo, A. Rafanelli</span> and A. Omicini, <br>
	&ldquo;<b><em>Towards Quality-of-Service Metrics for Symbolic Knowledge Injection</em></b>&rdquo;, <br>
	<i>23rd Workshop “From Objects to Agents” (WOA)</i>, 2022.
	<br>
	<a href="javascript:toggleBibtex('rafanelliWOA22')">[BibTeX]</a>

	<a href="/publications/2022/rafanelliWOA22.pdf">[PDF]</a>

        <a href="/publications/2022/rafanelliSlidesWOA22.pdf">[SLIDES]</a>

	<div id="bib_rafanelliWOA22" class="bibtex noshow">
	<pre>
	@article{skiqs-woa2022,
	author = {Agiollo, Andrea and Rafanelli, Andrea and Omicini, Andrea},
	booktitle = {WOA 2022 -- 23rd Workshop ``From Objects to Agents''},
	editor = {Ferrando, Angelo and Mascardi, Viviana},
	issn = {1613-0073},
	keywords = { symbolic knowledge injection, quality of service, efficiency, understandability, robustness},
	month = nov,
	pages = {30--47},
	publisher = {Sun SITE Central Europe, RWTH Aachen University},
	series = {CEUR Workshop Proceedings},
	subseries = {AIxIA Series},
	title = {Towards Quality-of-Service Metrics for Symbolic Knowledge Injection},
	url = {http://ceur-ws.org/Vol-3261/paper3.pdf},
	url-pdf = {http://ceur-ws.org/Vol-3261/paper3.pdf},
	volume = 3261,
	year = 2022} 
	
	</pre>
	</div>
	</li>
	<br>
	<!-- Item: rafanelliWOA22.2 -->
	<li >
	<span class="authorme">A. Rafanelli</span>, S. Costantini and G. De Gasperis, <br>
	&ldquo;<b><em>A Multi-Agent-System framework for flooding events</em></b>&rdquo;, <br>
	<i>23rd Workshop “From Objects to Agents” (WOA)</i>, 2022.
	<br>
	<a href="javascript:toggleBibtex('rafanelliWOA22.2')">[BibTeX]</a>

	<a href="/publications/2022/rafanelliWOA22.2.pdf">[PDF]</a>

        <a href="/publications/2022/rafanelliSlidesWOA22.2.pdf">[SLIDES]</a>

	<div id="bib_rafanelliWOA22.2" class="bibtex noshow">
	<pre>
	@article{RCG22,
	author = {Rafanelli, Andrea and Costantini, Stefania and De Gasperis, Giovanni},
	booktitle = {WOA 2022 -- 23rd Workshop ``From Objects to Agents''},
	editor = {Ferrando, Angelo and Mascardi, Viviana},
	issn = {1613-0073},
	keywords = {multi-agent-system, DALI, logic programming, PSP-Net, symbolic sub-symbolic integration},
	month = nov,
	pages = {30--47},
	publisher = {Sun SITE Central Europe, RWTH Aachen University},
	series = {CEUR Workshop Proceedings},
	subseries = {AIxIA Series},
	title = {A Multi-Agent-System framework for flooding events},
	url = {http://ceur-ws.org/Vol-3261/paper11.pdf},
	url-pdf = {http://ceur-ws.org/Vol-3261/paper11.pdf},
	volume = 3261,
	year = 2022} 
	
	</pre>
	</div>
	</li>
</ul>
</pre></div>
</li>
</ol>

<!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
